body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: lightcyan;
    color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;

}




    
    
    


nav a{
    color: #fff;
    text-decoration: none;

}

h1{
    font-size: 48px;
    text-align: center;
    padding: 100px 20px;
    background: #007bff;
    color: #fff;
    border-radius: 25px;
    

}
img{
    
    border-radius: 50%;
    max-width: 500px;
    width: 100%;
    border: 5px solid #007bff;
    

    
}


 section {
    padding: 50px 20px ;
    text-align: center;
 }

 form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;

 }

 input, textarea, button{
    padding: 10px;
    font-size: 16px;

 }

 button{
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;

 }

 footer{
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    
 }

 h2{
    font-size: 2rem;
    margin-bottom: 10px;

 }

 p{
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;

 }
 .cta-button{
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    
 }

 .cta-button:hover{
    background: #0056b3;
    transform: scale(1.05);

 }
 
 .logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: #007bff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    
 }

 
 a{
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
 }

 p{
    font-style: italic;
 }

 
    
 
 




